

div#intro{
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(17, 26, 153, 0.5);

}
div#background{
    background-image: url('background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
}
div#aboutme{
    background: rgba(17, 26, 153, 0.5);
    position: relative;
}
div#portofolio{
    position: relative;
}
div#intro img#picture{
    border-radius: 100%;
    height: 350px;
    width: 350px;
}
div.section{
    position: relative;
    background: rgba(17, 26, 153, 0.5);
    display: flex;
 
   

}
h3#binus{
    color: rgb(187, 181, 181);
}
div#skill_card{
    color:aliceblue;
    background-image: radial-gradient(#FF7C65,#1C3485);
    border-radius: 10%;
    box-shadow: 0px 0px 4px 10px rgba(0,0,0,0.75);
}

img#picture-skill{
    border-radius: 50%;
}
div#about_card{
    background-image: radial-gradient(#F9F871,#1C3485);
    border-radius: 10%;
    box-shadow: 0px 0px 4px 10px rgba(0,0,0,0.75);
}
div#port_card{
    background-image: radial-gradient(#65CBAB,#1C3485);
    border-radius: 10%;
    box-shadow: 0px 0px 4px 10px rgba(0,0,0,0.75);
}
div#port1{
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.75);
    background-image: radial-gradient(#396d88,#9d32a8);
    border-radius: 10%;
    font-size: 50px;
}

div#port2{
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.75);
    background-image: radial-gradient(#488f9c,#e36607);
    border-radius: 10%;
    font-size: 50px;
}
div#port3{
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.75);
    background-image: radial-gradient(#438599,#59e612);
    border-radius: 10%;
    font-size: 50px;
}
div#port1:hover{
    transform: scale(1.05);
}
div#port2:hover{
    transform: scale(1.05);
}
div#port3:hover{
    transform: scale(1.05);
}
div#contact{
    float: right;
}
footer{
   
    font-size: 30px;
}
